@use './header.scss' as header;
@use './hero.scss' as hero;
@use './assurance.scss' as assurance;
@use './footer.scss' as footer;
@use './trending.scss' as trending;
@use './newsletter.scss' as newsletter;

.brand {
	padding: 40px 0;
	overflow: hidden;
	position: relative;

	.brand-track {
		display: flex;
		width: fit-content;
		display: flex;
		animation: scroll-left 20s linear infinite;
		margin: 10px 0px;
		
      &.reverse {
			animation: scroll-right 20s linear infinite;
		}

      &:hover {
         animation-play-state: paused;
      }

		.logo-track {
			flex: 0 0 300px;
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #eee;
			margin: 0 5px;

			img {
				padding: 0px 60px;
				max-height: 60px;
				max-width: 100%;
				object-fit: contain;
			}

			.logo-3 {
				max-height: 160px;
			}
		}
	}
}

@keyframes scroll-left {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
@keyframes scroll-right {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0%);
	}
}
