// type scale
$text-size-xs: 0.64rem;
$text-size-sm: 0.8rem;
$text-size-md: 1rem;
$text-size-lg: 1.25rem;
$text-size-xl: 1.56rem;
$text-size-2xl: 1.95rem;
$text-size-3xl: 2.44rem;
$text-size-4xl: 3.05rem;
$text-size-5xl: 3.81rem;

// colors
$black-color: lch(11.76% 0 296.81);
$white-color: lch(96.54% 0.01 296.81);
$light-gray-border: lch(94.1% 0.01 296.81);
